html {
    max-width: 70ch;
    padding: 3em 1em;
    margin: auto;
    font-size: 1.25em;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #000;
    color: #fff;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1em;
    width: 100%;
}
.form-section .input {
    max-width: 40%;
}
.input {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
}

input, select , textarea, button{
    background-color: #000;
    color: #fff;
    margin-bottom: 0.5em;
    padding: 0.5em;
    border: 1px solid #2545ff;
    border-radius: 1em;
    font-size: 1em;
    width: 100%;
}
input:focus {
    outline: none;
    border-color: #2545ff;
    box-shadow: 0 0 0 2px #2545ff;
}
button {
    background-color: #000;
    color: #2545ff;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
button:hover {
    background-color: #2545ff;
    color: #fff;
}

.input label {
    margin-bottom: 0.5em;
    margin-left: 0.5em;
}
.inline-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.inline-div label {
    margin-left: 0;
    width: 100%;
}
.inline-div select {
    max-width: 35%;
}
.inline-div input {
    max-width: 60%;
}




/* Checkbox and Radio custom styles*/

.checkbox-group , .radio-group{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 0.5em;
}
.checkbox-group input, .radio-group input {
    max-width: 40%;
}
.checkbox-group label, .radio-group label {
    margin-left: 0;
    width: 50%;
}

.checkbox-container, .radio-container {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5em;
    padding-right: 50%;
}
.checkbox-container input, .radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
/* Checkbox */
.checkmark {
    position: absolute;
    top: 0;
    right: 0;
    height: 25px;
    width: 25px;
    background-color: #000;
    border: 1px solid #2545ff;
    border-radius: 1em;
}
  
.checkbox-container:hover input ~ .checkmark {
    background-color: #0c1441;
}
  
.checkbox-container input:checked ~ .checkmark {
    background-color: #000;
}
  
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}
  
.checkbox-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #2545ff;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/* Radio */
.radio-indicator {
    position: absolute;
    top: 0;
    right: 0;
    height: 20px;
    width: 35px;
    background-color: #000;
    border-radius: 1em;
    border: 1px solid #2545ff;
}
  
.radio-container:hover input ~ .radio-indicator {
    background-color: #0b123d;
    border: 1px solid #2545ff;
}
  
.radio-container input:checked ~ .radio-indicator {
    background-color: #000;
}
  
.radio-indicator:after {
    content: "";
    position: absolute;
    display: none;
}
  
.radio-container input:checked ~ .radio-indicator:after {
    display: block;
}
  
.radio-container .radio-indicator:after {
    top: 6px;
    left: 10px;
    width: 15px;
    height: 8px;
    border-radius: 1em;
    background: #2545ff;
    border-color: #000;
}




.default-hidden {
    display: none;
}
.correct {
    color: #21f721;
    border-color: #21f721;

}
.error {
    color: #f72121;
    border-color: #f72121 !important;
}
.error-msg{
    color: #f72121;
    font-size: 0.75em;
    margin-left: 0.5em;
    margin-top: 0.25em;
    margin-bottom: 0;
    text-align: left;
    display: none;
    transition: 0.2s ease-in-out;
}
.legend {
    font-size: 0.75em;
    font-weight: bold;
    margin-bottom: 0.5em;
    opacity: 0.5;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    text-align: center;
    background-color: rgba(0,0,0,0.4);
}
.modal-body {
    background-color: #000;
    color: #fff;
    margin: auto;
    padding: 1em;
    border: 1px solid #2545ff;
    border-radius: 1em;
    width: 50%;
    height: 80vh;
    overflow: auto;
}

@media only screen and (max-width: 600px) {
    .input {
        width: 100%;
        margin-bottom: 10px;
        flex-direction: column;
        align-items: left;
        flex-wrap: wrap;
    }

    .form-section {
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }
    .inline-div {
        flex-direction: column;
        align-items: left;
        flex-wrap: wrap;
    }
    .inline-div select, .inline-div input {
        max-width: 100%;
    }
}
